body {
  margin: 0 0 0 0;
  display: grid;
}
nav {
  height: 10vh;
}
.blueSection {
  background: #1A2930;
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.greySection {
  background: #C5C1C0;
  color: #0A1612;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.yellowSection {
  background: #F7CE3E;
  color: #1A2930;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#landing {
  display:flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#headshot {
  height: 60%;
  width: auto;
  border-radius: 50%;
}
h3 {
  display: inline;
  color: #0A1612;
}