body {
  margin: 0 0 0 0;
  display: grid;
  font-size: 100%;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 2em;
  padding-top: 0.5em; 
  padding-bottom: 0.5em;
}

ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-items: center;
  padding-left: 10%;
}

h1 {
  font-size: 30pt;
  margin: 0;
}

h2 {
  margin: 5px 0 0 0;
  font-size: 30pt;
  align-self: flex-end
}

h3 {
  font-size: 20pt;
  font-weight: 150;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

h5 {
  display: inline;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #0A1612;
}

h6 {
  font-size: 12pt;
  font-weight: 300;
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
}

.articleList {
  list-style-type: none;
  padding-bottom: .3em;
  padding-top: .3em;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

li {
  padding-left: .6em;
  padding-bottom: .2em;
  padding-top: .2em;
}

a {
  color:#FFFFFF;
  text-decoration: none;
  padding: 1em;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-color:#F7CE3E;
}

p {
  font-size: 18pt;
  width: 80%;
  min-width: 300px;
  min-height: 0.25vh;
  text-align: left;
}

i {
  font-size: 14pt;
  align-self: flex-end;
}

section {
  min-height: 100vh;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
}

.blueSec {
  background: #1A2930;
  color: #FFFFFF;
}

.blueSec1-2 {
  height: 60vh;
  min-height: 500px;
}

.skillsCol {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-items: space-between;
  padding-left: 10%;
}

.contactCol {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-items: space-between;
  align-items: center;
  padding-left: 10%;
}

.contactLogo {
  width: 50%;
}

.secDiv {
  width:100vw
}

.titleBox {
  height: 10vh;
  width: 30vw;
  display: flex;
  border-bottom: 3px solid #F7CE3E;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 2.5%;
}

.left {
  justify-content: flex-start;
  padding-left: 15px;
}

.contentContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 5%
}

.articleClass {
  width:80%;
  min-width: 300px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 2% 0px 2%;
  color: #0A1612;
  font-size: 1.2em;
  margin: 1% 0 1% 0;
  border-radius: 5px;
}

.articleImage {
  align-self: auto;
  width: 230px;
}

.jobImage {
  align-self: auto;
  width: 190px;
}

.articleContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.companyTitle {
  display: inline-flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 1.4em;
  color: #1a2930;
}

.jobTitle {
  display: inline-flex;
  align-self: left;
  padding: 0 0 0 0;
  font-size: 1.2em;
  font-weight: normal;
}

.articleUnderline {
  align-self: center;
  border-bottom: 2px solid #F7CE3E;
  width: 100%
}

#landing {
  height: 100vh;
  display:flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.skills{
  font-size: 16pt;
}

#titleLine {
  min-width: 350px;
  align-content: center;
  padding: 0 5% 10px 5%;
  border-bottom: 3px solid #F7CE3E
}

#aboutArticle {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  width: 30%;
  min-width: 320px !important;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#headshot {
  border-radius: 50%;
  min-width: 300px;
}

@media (max-width: 500px){
  .secDiv {
    display: none;
  }
  .section {
    align-items:center;
  }
  .titleBox {
    align-self:center;
  }
  .skillsCol {
    flex-direction:column;
  }
  ul {
    margin-top:0;
    margin-bottom:0;
    align-self:center;
  }
  .blueSec {
    align-items:center;
  }

  .left {
    justify-content:center;
  }

  .articleClass {
    flex-direction:column;
    justify-items:center;
    width:100%;
  }

  .articleContent {
    width:100%
  }

  .contactCol {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: space-between;
    align-items: center;
    padding: 0;
  }
  
  #headshot {
    max-width:100px;
  }

  #titleLine {
    width:100%;
    margin:0;
    padding-left:0;
  }

  nav {
    display: none;
  }
  
}