body {
  margin: 0 0 0 0;
  display: grid;
  font-size: 100%;
}

nav {
  width: 50vw;
  height: 8vh;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  padding-bottom: 10px;
}

a {
  color:#1A2930;
  text-decoration: none;
}

a:visited {
  color: #1A2930;
}

p, ul {
  font-size: 20pt;
  width: 50%;
  min-width: 300px;
  min-height: 0.25vh;
  text-align: justify;
}

#linkBar {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-self: flex-end; 
}

section {
  height: 110vh;
  min-height: 800px;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
}

.blueSec {
  background: #1A2930;
  color: #FFFFFF;
}

.whiteSec {
  background: #FFFFFF;
  color: #0A1612;
}

.yellowSection {
  background: #F7CE3E;
  color: #1A2930;
  height: 60vh;
  min-height: 500px;
}

.titleBox {
  height: 10vh;
  width: 30vw;
  display: flex;
  border-bottom: 3px solid #F7CE3E;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.right {
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 15px;
}

.left {
  justify-content: flex-start;
  padding-left: 15px;
}

.contentContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

#aboutSection {
  flex-flow: column wrap;
}

.greyArticle {
  width:30%;
  min-width: 300px;
  background: #C5C1C0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px 0px 5px;
  color: #0A1612;
}
p.greyArticle {
  font-size: 14;
}

.whiteArticle {
  width:60%;
  min-width: 300px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px 0px 5px;
  color: #0A1612;
}

 {
  width: 90%;
}

#landing {
  height: 100vh;
  display:flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#titleLine {
  min-width: 350px;
  align-content: center;
  padding: 0 5% 10px 5%;
  border-bottom: 3px solid #F7CE3E
}

#headshot {
  border-radius: 50%;
  min-width: 300px;
}

h2 {
  margin: 5px 0 0 0;
  font-size: 30pt;
  align-self: flex-end
}

h3 {
  display: inline-flex;
  align-self: flex-end;
  color: #0A1612;
  padding: 0 5% 0 5%;
  margin: 0 0 0 0;
}
